<p>
  <mat-toolbar color="primary">
    <span style="color:black; font-size: 0.7rem;">&#xA9;{{year}} Design By Harshal with <span style="color:red">
        <i class="fas fa-heart"></i>
      </span> Angular</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <span style="font-size: 2em;">
        <i class="fab fa-github"></i>
      </span>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <span style="font-size: 2em;">
        <i class="fab fa-dev"></i>
      </span>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <span style="font-size: 2em;">
        <i class="fab fa-twitter"></i>
      </span>
    </button>
  </mat-toolbar>
</p>